body {
  margin: 0;
}

.map {
  width: 50vw;
  height: 50vw;
}

.location-icon {
  font-size: 15px;
}

.location-info img {
  width: 100%;
  border-radius: 10px;
}

.location-info {
  height: 10%;
  width: 10%;
  border-radius: 10px;
}

.info-withIcon {
  font-size: 0.5vw;
}
